.scale-in-center {
    -webkit-animation: scale-in-center 1s cubic-bezier(.25, .46, .45, .94) both;
    animation: scale-in-center 1s cubic-bezier(.25, .46, .45, .94) both
}

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

.fade-in {
    -webkit-animation: fade-in 4s cubic-bezier(.39, .575, .565, 1.000) both;
    animation: fade-in 4s cubic-bezier(.39, .575, .565, 1.000) both
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

svg {
    color: #ffffff;
}

.enterfooter {
    color: rgba(0, 0, 0, 0);
}

.bgimg {
    display: none;
    background: none !important;
}

.header {
    display: none;
}

.footer {
    display: none;
}

#MainContent {
    display: none;
}

.list-social {
    position: absolute;
    bottom: 16%;
}

body,
html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    background-image: url(https://media.discordapp.net/attachments/1283500335863959604/1310352060218347580/output-onlinegiftools_1.gif?ex=6744e7f4&is=67439674&hm=4aa65e522863042f33ce4657f7ed10337d0eb49ef168ead722808a790a5028e4&=);
    /* gif */
}

.enterblur {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -9;
    display: block !important;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}




@media screen and (max-width: 500px) {
    .wrapper {
        background-image: url(images/10.gif);
    }
}



.logo-container {
    margin-bottom: 30px;
    position: absolute;
    top: 5vh;
}

@media screen and (max-width: 450px) {
    .logo-container {
        top: 5vh;
    }

    .logo_enter {
        width: 200px !important;
    }

    .menu-list {
        width: 250px !important;
    }
}

.button-text {
    font-size: 22px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    z-index: 0;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 250px;
}

.menu-item {
    margin-bottom: 0px;
    text-align: center;
}

.menu-link {
    display: inline-block;
    margin: 0px;
    font-size: 15px;

    color: #ffffff;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
    line-height: 3rem;
    text-transform: uppercase;

    -webkit-animation: pulse 1.5s ease-in-out infinite alternate;
    -webkit-backface-visibility: hidden;

}

a.menu-link {
    color: #ffffff !important;
}

.menu-link svg {
    display: none;
}


a.menu-link {
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 1px solid;
    border-radius: 0px;
    width: 90%;
    background: #000000;
    transition: color 0.3s;
}

a.menu-link::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #ffffff;
    transition: top 0.3s, height 0.3s;
    z-index: -1;
}

a.menu-link:hover::before {
    top: 0;
    height: 100%;
}

a.menu-link:hover {
    color: #000000 !important;
}

.menu-link svg {
    width: 20px;
    /* Adjust the width of the arrow icon as needed */
    height: 20px;
    /* Adjust the height of the arrow icon as needed */
    fill: #000000;
    /* Default color of the arrow icon */
    position: absolute;
    top: 50%;
    right: 10px;
    /* Adjust the right spacing as needed */
    transform: translateY(-50%);
    opacity: 0;
    /* Initially, make the arrow icon invisible */
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    display: block;
}

.menu-link:hover svg {
    opacity: 1;
    /* Make the arrow icon visible on hover */
}

@-webkit-keyframes pulse {
    from {
        text-shadow: 0 0 0px #ffffff,
            0 0 0px #ffffff,
            0 0 0px #ffffff,
            0 0 0px #ffffff,
    }

    to {
        text-shadow: 0 0px #ffffff,
            0 0 10px #ffffff,
            0 0 15px #ffffff,
            0 0 35px #ffffff;
    }
}

@media screen and (max-width: 450px) {
    @-webkit-keyframes pulse {
        from {
            text-shadow: 0 0 0px #ffffff,
                0 0 0px #ffffff,
                0 0 0px #ffffff,
                0 0 0px #ffffff,
        }

        to {
            text-shadow: 0 0px #ffffff,
                0 0 3px #ffffff,
                0 0 6px #ffffff,
                0 0 10px #ffffff;
        }
    }
}

#bg-video_mobile {
    display: none;
}


@media screen and (max-width: 500px) {
    .wrapper {

        background-color: none;
    }

    #bg-video {
        display: none;
    }

    #bg-video_mobile {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        z-index: -20;
    }
}


.enter-skip-button {
    text-decoration: none;
    color: #d4d4d4;
    font-size: 15px;
}

a.enter-skip-button {

    color: #d4d4d4 !important;

}

.logo_enter {
    width: 330px;
}

#datetime {
    width: 100%;
    text-align: center;
    font-size: 13px;
    margin: 0 !important;
}

p#datetime {
    color: #f0f0f0 !important;
    font-size: 13px;
}

small.copyright__content,
small.copyright__content a {
    color: rgba(0, 0, 0, 0) !important;
}

.enterfooter {
    opacity: 0;
    pointer-events: none;
}


.enterfooter {
    opacity: 1 !important;
    pointer-events: inherit !important;
}



.logo-container img {
    display: none;
}

.logo-container {
    z-index: 10;
}

model-viewer {
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 500px) {
    model-viewer {
        width: 200px;
        height: 200px;
    }
}